<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
    body {
      font-family: 'Inter', sans-serif;
    }
  </style>
  <script>
    window.addEventListener('scroll', () => {
      const nav = document.getElementById('secondDiv');
      if (window.scrollY > 0) {
        nav.classList.add('sticky', 'top-0');
      } else {
        nav.classList.remove('sticky', 'top-0');
      }
    });
  </script>
</head>
<body>
  <nav id="secondDiv" class="w-full bg-custom-bg border-t border-custom-border bg-[#fbf7ea] z-50">
    <div class="w-10/12 sm:w-4/5 h-[60px] mx-auto flex items-center justify-between">
      <div class="flex items-center">
        <button class="xl:hidden focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
        <a href="/" class="flex items-center text-[25px] ml-3 cursor-pointer">
          <img id="hfNavbarlogo" src="https://assets.www.happyfox.com/v2/images/site-nav/HD-logo.svg" alt="happyfox logo" width="30" height="30" class="hf-productnav__logo w-[20px] h-[20px] sm:w-[30px] sm:h-[30px]" />
          <span class="ml-1 sm:ml-3 text-[18px] sm:text-[25px] navbar-font font-sans text-black">assist AI</span>
        </a>
      </div>
      <div class=" font-normal text-[#181c20] flex flex-row justify-end items-center ml-5">
        <div class="px-4">
          <div class="py-2 px-4 hover:bg-white hover:cursor-pointer hover:rounded-xl transition-all">
            Solutions
            <img src="https://assets.www.happyfox.com/v2/images/site-nav/menu-togle-arrow-gray-up.png" alt="menu toggle arrow" class="inline-block w-[10px] h-[10px] ml-1" />
          </div>
        </div>
        <div class="px-4">
          <div class="py-2 px-4 hover:bg-white hover:cursor-pointer hover:rounded-xl transition-all">
            Pricing
            
          </div>
        </div>
        <div class="px-4">
          <div class="py-2 px-4 hover:bg-white hover:cursor-pointer hover:rounded-xl transition-all">
            Why Assit AI
          </div>
        </div>
        <div class="px-4">
          <div class="py-2 px-4 hover:bg-white hover:cursor-pointer hover:rounded-xl transition-all">
            Resources
            <img src="https://assets.www.happyfox.com/v2/images/site-nav/menu-togle-arrow-gray-up.png" alt="menu toggle arrow" class="inline-block w-[10px] h-[10px] ml-1" />
          </div>
        </div>
      </div>
      <div class="flex justify-end items-center w-[100px] h-[60px]">
        <button class="bg-[#f2c234] text-black font-light text-[14px] py-1 px-2 rounded shadow-md hover:translate-y-1 transition ease-out duration-300">
          Get a Demo
        </button>
      </div>
    </div>
  </nav>
</body>
</html>
